section #flash
{
    text-align: center;
}


#container_section
{
    margin: auto;
    height: 370px;
    border: 3px black double;
}

#container_nav
{
    float: left;
    text-align: left;
    border-right: 3px black double;
    width: 20%;
    height: 100%;
    line-height: 1.4em;
    padding-top: 5px;
    font-size: 16px;
}

#container_article
{
    height: 100%;
    line-height: 2em;
}

i
{
    font-style: italic;
}

#container_section ul
{
    list-style-type: none;
}

.group
{
    list-style: square;
}

#container_section a
{
    text-decoration: none;
    color: #0000BF;
    transition: color .3s;
}

#container_section a:hover
{
    color: #7E0093;
}

#container_article_1
{
    width: 80%;
    text-align: center;
}

#container_article_2
{
    text-align: left;
    padding-left: 35%;
}

#container_article_1 a
{
    padding: 0 3px;
    margin: 0 3px;
}

.dotted
{

    border-bottom: 1px black dotted;
}

#container_article_3
{
    width: 80%;
    text-align: center;
}

#container_article_4
{
    width: 80%;
    text-align: center;
}

#container_article_5
{
    padding-top: 10px;
    width: 80%;
    text-align: center;
}
