/*corps*/
section
{
	background-color: rgb(250,248,240);
	line-height: 1.75;
	/*padding-top: 50px;*/
}

section p
{
    text-align: center;
}

/*Article general*/
#container_articles h1
{
	text-align: center;
}

#container_articles
{
	border: 1px solid blue;
	width: 1100px;
	margin: auto;
}

/*Article*/
article
{
	/*background-color: rgb(250,248,236);*/
	background-color: rgb(128,128,128);
	border: 1px solid purple;
	height: 350px;
	margin: 100px 0;
}

#img_article
{
	/*background-image: url("img/vin_rouge.png");*/
	background-repeat: repeat-y;
	background-size: contain;
	background-position: center;
	border: 1px solid purple;
	width: 30%;
	height:80%;
	float: left;
}

#text_article
{
	font-family: 'ABeeZee', sans-serif;
	border: 1px solid blue;
	height: 80%;
}

/*#text_article p
{
	position: relative;
	left: 10px;
	font-size: 1em;
}*/

#container_bouton
{
	text-align: right;
	padding: 10px 30px;
}


hr
{
	width: 900px;
}
