<section>
    <div id="container_formulaire">
    <div id="container_form">
        <form method="post" action="login">
        <fieldset>
        <legend> Se connecter </legend>

            <p>
                <label for="pseudo">Adresse mail :</label>
                <input type="email" name="mail" id="mail" size="15" maxlength="100" required />
            </p>

            <p>
                <label for="mdp">Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" size="15" maxlength="100"required />
            </p>

            <input id="envoyer" type="submit" value="Envoyer" />

        </fieldset>
        </form>
    </div>

    <div id="container_form">
        <form method="post" action="login">
        <fieldset>
        <legend> Créer un compte </legend>

            <p>
                <label for="mdp">Nom :</label>
                <input type="password" name="nom" id="nom" placeholder="Ex: Toto" size="15" maxlength="100" required />
            </p>

            <p>
                <label for="mdp">Prénom :</label>
                <input type="password" name="prenom" id="prenom" placeholder="EX: Dupont" size="15" maxlength="100" required />
            </p>

            <p>
                <label for="pseudo">Adresse mail :</label>
                <input type="email" name="mail" id="mail" placeholder="Ex: toto.dupont@abc.com" size="15" maxlength="100" required />
            </p>

            <p>
                <label for="mdp">Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" size="15" maxlength="100" required />
            </p>

            <p>
                <label for="mdp">Confirmation du mot de passe :</label>
                <input type="password" name="mdpconfirm" id="mdpconfirm" size="15" maxlength="100" required />
            </p>

            <input id="envoyer" type="submit" value="Envoyer" />

        </fieldset>
        </form>
    </div>
    </div>
</section>
