<section>
    <div id="container_section">
        <div id="container_nav">
            <ul>
                <li class="group">Gérer mon compte</li>
                <li><a href="/compte/mes_informations">Mes informations</a></li>
                <li><a href="/compte/changer_mdp">Changer mon mot de passe</a></li><br/>
                <li class="group">Ajouter / Modifier</li>
                <li><a href="/compte/moyens_paiement">Moyen de paiement</a></li>
                <li><a href="/compte/adresse_livraison">Adresse de livraison</a></li>
                <li><a href="/compte/adresse_facturation">Adresse de facturation</a></li><br/>
                {% if vendeur == -1 %}
                    <li class="group"><a href="/compte/ameliorer_vendeur">Améliorer en compte vendeur</a></li><br/>
                {%else%}
                    <li class="group"><a href="/compte/ajout_article">Ajouter un article</a></li><br/>
                {%endif%}
                <li class="group"><a href='/logout/'>Déconexion</a></li>
            </ul>
        </div>

        <div id="container_article">
            {% if nb_obj > 0 %}
            <div id="container_article_1">
                {% for i in range(nb_obj) %}
                    {% if i == index %}
                        <a href="/compte/adresse_facturation/{{i}}/#container_article">{{i}}</a>
                    {%else%}
                        <a class="dotted" href="/compte/adresse_facturation/{{i}}/#container_article">{{i}}</a>
                    {%endif%}
                {%endfor%}
            </div>
            <div id="container_article_4">
                <a href="/compte/ajout_adresse_facturation">Ajouter une adresse de facturation</a>
            </div>
            <div id="container_article_2">
                <ul>
                    <li><i>Nom et prénom adresse facturation</i> : {{infos[0]}}</li>
                    <li><i>Adresse ligne1 adresse facturation</i> : {{infos[1]}}</li>
                    <li><i>Adresse ligne2 adresse facturation</i> : {{infos[2]}}</li>
                    <li><i>Ville adresse facturation</i> : {{infos[3]}}</li>
                    <li><i>Pays adresse facturation</i> : {{infos[4]}}</li>
                    <li><i>Code postal adresse facturation</i> : {{infos[5]}}</li>
                </ul>
            </div>
            <div id="container_article_3">
                <form method="post" action="/compte/sup_adr_facturation/">
                    <input type='hidden' name='num' value='{{infos[6]}}'>
                    <input id="envoyer" type="submit" value="Supprimer cette adresse de facturation" />
                </form>
            </div>
            <div id="container_article_5">
                <form method="post" action="/compte/define_adr_facturation/">
                    <input type='hidden' name='num' value='{{infos[6]}}'>
                    <input id="envoyer" type="submit" value="Definir cette adresse de facturation pour les commandes" />
                </form>
            </div>
            {%else%}
            <div id="container_article_4">
                <a href="/compte/ajout_adresse_facturation">Ajouter une adresse de facturation</a>
            </div>
            {%endif%}
        </div>
    </div>
</section>
