<section>
    <div id="container_section">
        <div id="container_nav">
            <ul>
                <li class="group">Gérer mon compte</li>
                <li><a href="/compte/mes_informations">Mes informations</a></li>
                <li><a href="/compte/changer_mdp">Changer mon mot de passe</a></li><br/>
                <li class="group">Ajouter / Modifier</li>
                <li><a href="/compte/moyens_paiement">Moyen de paiement</a></li>
                <li><a href="/compte/adresse_livraison">Adresse de livraison</a></li>
                <li><a href="/compte/adresse_facturation">Adresse de facturation</a></li><br/>
                {% if vendeur == -1 %}
                    <li class="group"><a href="/compte/ameliorer_vendeur">Améliorer en compte vendeur</a></li><br/>
                {%else%}
                    <li class="group"><a href="/compte/ajout_article">Ajouter un article</a></li><br/>
                {%endif%}
                <li class="group"><a href='/logout/'>Déconexion</a></li>
            </ul>
        </div>

        <div id="container_article">
            <form method="post" action="/compte/ajout_adresse_facturation/">
                <p id="champ">
                    <label for="nom_prenom">Nom et prénom adresse facturation :</label>
                    <input type="text" name="nom_prenom" id="nom_prenom" size="15" maxlength="100" required />
                </p>

                <p id="champ">
                    <label for="adr1">Adresse ligne1 adresse facturation :</label>
                    <input type="text" name="adr1" id="adr1" size="15" maxlength="100" required />
                </p>

                <p id="champ">
                    <label for="adr2">Adresse ligne2 adresse facturation :</label>
                    <input type="text" name="adr2" id="adr2" size="15" maxlength="100" required />
                </p>

                <p id="champ">
                    <label for="ville">Ville adresse facturation :</label>
                    <input type="text" name="ville" id="ville" size="15" maxlength="100" required />
                </p>

                <p id="champ">
                    <label for="pays">Pays adresse facturation :</label>
                    <input type="text" name="pays" id="pays" size="15" maxlength="100" required />
                </p>

                <p id="champ">
                    <label for="cp">Code postal adresse facturation :</label>
                    <input type="text" name="cp" id="cp" size="2" maxlength="5" required />
                </p>

                <p id="p_envoyer">
                    <input id="envoyer" type="submit" value="Envoyer" />
                </p>

            </form>
        </div>
    </div>
</section>
