<section>
    {% include 'message.html' %}
    <div id="container_articles">

        <h1>Nos composants</h1>

        {% for article in articles %}
            <article>
                <div id="img_article">
                    <img src="/static/img/{{article[1]}}.png"/>
                </div>
                <div id="text_article">
                    {{article[1]}}
                </div>
                <div id="container_bouton">
                    <form method="post" action="/ajout_panier/{{article[0]}}/">
                        <label for="nbArticle">Nombre :</label>
                        <select name="nbArticle" id="nbArticle">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="submit" id="envoyer" value="Ajouter au Panier" />
                    </form>
                </div>
            </article>
        {% endfor %}

    </div>

</section>
