<section>
    {% include 'message.html' %}
    <div id="container_articles">

        <h1>Nos composants</h1>

        {% for article in articles %}
            <article>
                <div id="img_article">
                </div>
                <div id="text_article">
                    <p>L'histoire de cet épisode se déroule trois ans<br/> après les événements d’Un nouvel espoir.<br/> La guerre entre le maléfique Empire galactique et<br/> son antagoniste,l’Alliance rebelle, bat son plein.<br/> Les héros de l’Alliance Luke Skywalker et Han Solo<br/> se séparent après la prise de la principale base<br/> rebelle par l’Empire.Palpatine.</p>
                </div>
                <div id="container_bouton">
                    <a class="bouton" href="#">Ajouter au panier</a>
                </div>
            </article>
        {% endfor %}

        <article>
            <div id="img_article">
            </div>
            <div id="text_article">
                <p>L'histoire de cet épisode se déroule trois ans<br/> après les événements d’Un nouvel espoir.<br/> La guerre entre le maléfique Empire galactique et<br/> son antagoniste,l’Alliance rebelle, bat son plein.<br/> Les héros de l’Alliance Luke Skywalker et Han Solo<br/> se séparent après la prise de la principale base<br/> rebelle par l’Empire.Palpatine.</p>
            </div>
            <div id="container_bouton">
                <a class="bouton" href="#">Ajouter au panier</a>
            </div>
        </article>

        <article>
            <div id="img_article">
            </div>
            <div id="text_article">
                <p>L'histoire de cet épisode se déroule trois ans<br/> après les événements d’Un nouvel espoir.<br/> La guerre entre le maléfique Empire galactique et<br/> son antagoniste,l’Alliance rebelle, bat son plein.<br/> Les héros de l’Alliance Luke Skywalker et Han Solo<br/> se séparent après la prise de la principale base<br/> rebelle par l’Empire.Palpatine.</p>
            </div>
            <div id="container_bouton">
                <a class="bouton" href="#">Ajouter au panier</a>
            </div>
        </article>

    </div>

</section>
