<!DOCTYPE html>
	<head>

		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Domine|ABeeZee|Lobster" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='body_footer.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='nav_header.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='section.css') }}" />
		<title>Chtulhu</title>

	</head>


	<body id="body">

		<nav>
			<div id="nav_bar">

				<div id="logo">
					<img src="../static/img/log_chtulhu.png"/>
				</div>

				<div id="nom">
					<p>Chtulhu</p>
				</div>

				<div id="links">
					<ul>
						<li><a href="/">Acceuil</a></li>
						<li><a href="/login">Se Connecter</a></li>
						<li><a href="/lolmdr">Infos</a></li>
					</ul>
				</div>

			</div>
  		</nav>


  			<header>
  				<h1>Chtulhu</h1>
  			</header>
