<section>
    <div id="container_nav">
        <ul>
            <li>Gérer mon compte</li>
            <li><a href="#">Mes informations</a></li>
            <li><a href="#">Changer mon mot de passe</a></li>
            <li>Ajouter / Modifier</li>
            <li><a href="#">Moyen de paiement</a></li>
            <li><a href="#">Adresse de livraison</a></li>
            <li><a href="#">Adresse de facturation</a></li>
        </ul>
    </div>

    <div id="container_article">
        <p>Nom : {{infos[0]}}</p>
        <p>Prénom : {{infos[1]}}</p>
        <p>Date de naissance : {{infos[2]}}</p>
        <p>AdresseMail : {{infos[3]}}</p>
        <p>Mot de passe : {{infos[4]}}</p>
        <p>Moyens de paiement : <a href="#">Cliquer ici</a>
        <p>Adresse de livraison : <a href="#">Cliquer ici</a>
        <p>Adresse de facturation : <a href="#">Cliquer ici</a>
    </div>
</section>
